#banner .container{
    box-sizing: border-box;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
}
*{
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* !!!!!!!!!!!!!! SYRINE header !!!!!!!!!!!!!! */

header {
    background-color: #d6ccc2;
    color: white;
    padding: 10px 0;
}

.containerr  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img{
    width: 100px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
 /* !!!!!!!!!!!!!! SYRINE header nav !!!!!!!!!!!!!! */

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#espace {
    word-spacing: 20px;
    
}

nav a:hover {
    text-decoration: underline;
}

 /* !!!!!!!!!!!!!! SYRINE header nav !!!!!!!!!!!!!! */

.search-form form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px;
    border: 1px solid #a98467;
    border-radius: 5px;
}

.search-form input:hover {
    border: 1px solid #F5EBE1;
}

.search-form button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #F5EBE1;
    color: black;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #a98467;
    border-radius: 3px;
}

/* !!!!!!!!!!!!!! SYRINE header !!!!!!!!!!!!!! */

/* !!!!!!!!!!!!!! SYRINE footer !!!!!!!!!!!!!! */

footer {
    background-color: #d6ccc2;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

/* !!!!!!!!!!!!!! SYRINE FOOTER Newsletter !!!!!!!!!!!!!! */

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
    border: none;
    border-radius: 5px;
}

.newsletter-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #F5EBE1;;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

.newsletter-form button:hover {
    background-color: #a98467;
}

/* !!!!!!!!!!!!!! SYRINE FOOTER Newsletter !!!!!!!!!!!!!! */

/* !!!!!!!!!!!!!! SYRINE FOOTER Mentions légales !!!!!!!!!!!!!! */

.mentions-legales {
    margin-top: 20px;
    font-size: 12px;
}

.mentions-legales strong {
    font-weight: bold;
}

.mentions-legales a {
    color: white;
    text-decoration: none;
}

.mentions-legales a:hover {
    text-decoration: underline;
}

/* !!!!!!!!!!!!!! SYRINE FOOTER Mentions légales !!!!!!!!!!!!!! */


/* !!!!!!!!!!!!!! SYRINE FOOTER Réseaux sociaux  !!!!!!!!!!!!!! */

.social-media {
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.social-media a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #ff6600;
}

/* !!!!!!!!!!!!!! SYRINE FOOTER Réseaux sociaux  !!!!!!!!!!!!!! */

/*CSS DE XIAOLI*/
#banner{
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#banner.container{
    max-width: 100%;
    box-sizing: border-box;

    padding-top: 20PX;
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
}
#banner .container> * {
    padding: 10px;
    flex: 1 100%;
  }
#banner h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.large-media {
    margin-bottom: 20px;
    width: 100%;
    height: 650px;
    border-radius: 15px;
    display: flex;  
    position: relative;
    overflow: hidden; 
}

.large-media video, .large-media img {
    width: 100%;
    height: 650px;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;  
    object-fit: cover; 
    object-position: center;
    overflow: hidden; 
}

#banner .photos{
    display: flex;
    justify-content:space-between;
    gap: 10px;
}
.photos img{
    width:220PX ;
    height: auto;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
    object-fit: cover; 
    object-position: center; 
}
.photos img:hover {
    border-color: #777;
}

#commentaires{
    width: 100%;
    height: auto;
    margin: 0;
}
#commentaires .container{
        display: flex;
        flex-direction: column;
        padding: 20PX;
        gap: 10PX;
        margin-bottom: 30px;
      }

      .avis{
        font-size: 20px;
        font-weight: 700;
        color: #A98467;
        margin-left: 10px;
      }
    
    .stars {
        display: flex;
        cursor: pointer;
    }

    .star {
        font-size: 3rem;
        color: lightgray;
        transition: color 0.2s;
    }

    .star.hover, .star.selected {
        color: gold;
    }
    .box{ 
        width: 100%;
        height: 200PX;
        border-radius: 15PX;
        border: 1px solid lightgray;
        text-align: left;
        padding: 10PX;
        line-height: normal;
        color: #A98467;
        font-size: 20px;
    }
    .box::placeholder {
        text-align: left;
        vertical-align: top;
    }
    .box:hover{
        border: 2px solid #A98467;
    } 
    .submit{
            width: 200PX;
            margin-top: 30PX;
            font-size: 20PX;
            font-weight: 900;
            border-radius: 15PX;
            border: 1px solid #A98467;
            align-content: center;
            padding: 20PX;
            background-color: #A98467;
            color: white;
            transform: scale(1);
    }
    .submit:hover{
        border: 2px solid #A98467;
        background-color: white;
        color: #A98467;;
    }

    @media (min-width: 1200px) {
        .photos{
            display: flex;
            flex-direction: row;
            justify-content: pace-between;
        }
      }
      @media (min-width: 992px) {
        .photos{
            display: flex;
            flex-wrap: wrap;
            justify-content: pace-between;
        }
    }
    
        @media (min-width: 769px) {
            #banner img{ flex: 1 0 0; }
            #banner h1    { flex: 3 0px; }
            #banner video { order: 1; } 
            #img1    { order: 2; }
            #img2  { order: 3; }
            #img3   { order: 4; }
            #img4   { order: 5; }
            #img5   { order: 6; }
          }

/*CSS DE XIAOLI*/
